.col-nome-header {
  text-align: center !important;
}

.col-cidade-header {
  text-align: center !important;
}

.col-estado-header {
  text-align: center !important;
}

.col-status-header {
  text-align: center !important;
}
